<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.system.dao.manager.RolePermissionMapper">

	<!--实体映射-->
	<resultMap id="RolePermissionMap" type="com.org.system.model.manager.RolePermission">
		<!---->
		<result column="id"  property="id" />
		<!---->
		<result column="role_id"  property="roleId" />
		<!---->
		<result column="permission_id"  property="permissionId" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="columnList">
	id,	role_id,	permission_id
	</sql>


	<!-- 查询条件-->
	<sql id="wheresql">
	<where>
			<if test="id != null and id != '' ">
				 and id = #{id}
			</if>
			<if test="roleId != null and roleId != '' ">
				 and role_id = #{roleId}
			</if>
			<if test="permissionId != null and permissionId != '' ">
				 and permission_id = #{permissionId}
			</if>

	</where>
	</sql>


	<sql id="limitsql">
			<if test="limitStart != null and pageSize != null">
				 <![CDATA[  
				 order by id desc limit #{limitStart} , #{pageSize} 
				 ]]>  
			</if>
	</sql>	<!-- 添加 -->
	<insert id="save" parameterType="com.org.system.model.manager.RolePermission">
		 <selectKey resultType="long" keyProperty="id">
		 SELECT LAST_INSERT_ID()
		 </selectKey>
		 INSERT INTO role_permission
 		(ROLE_ID,PERMISSION_ID) 
		 VALUES 
 		(#{roleId},#{permissionId}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.org.system.model.manager.RolePermission">
		 INSERT INTO role_permission
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="roleId != null">
				 role_id,
			</if>
			<if test="permissionId != null">
				 permission_id,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null and id!='' ">
				 #{id},
			</if>
			<if test="roleId!=null and roleId!='' ">
				 #{roleId},
			</if>
			<if test="permissionId!=null and permissionId!='' ">
				 #{permissionId},
			</if>
		 </trim>
	</insert>

	<!-- 添加 -->
	<insert id="saveBatchRolePermission" parameterType="java.util.List">
		 INSERT INTO role_permission
 		(role_id,permission_id) 
		 VALUES 
 		 <foreach collection="list" item="item" index="index" separator="," >  
 		(#{item.roleId},#{item.permissionId}) 
 		 </foreach>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.org.system.model.manager.RolePermission">
		 UPDATE role_permission
		 SET 
			<if test="roleId != null">
				 role_id = #{roleId},
			</if>
			<if test="permissionId != null">
				 permission_id = #{permissionId},
			</if>
		 WHERE id = #{id}
	</update>
	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey"  resultMap="RolePermissionMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM role_permission
		 WHERE id = #{id}
	</select>

	<!-- 查询  List 查询 -->
	<select id="queryList" resultMap="RolePermissionMap" parameterType="com.org.system.model.manager.RolePermission">
		 SELECT
		 <include refid="columnList" />
		 FROM role_permission
		  
		 <include refid="wheresql" />
	</select>

	<!-- 查询 分页总数 -->
	<select id="queryCount"  resultType="java.lang.Integer"  parameterType="com.org.system.model.manager.RolePermission">
		 SELECT
		 count(1)
		 FROM role_permission
		  
		 <include refid="wheresql" />
	</select>
	<!-- 查询 分页查询 -->
	<select id="queryPageList" resultMap="RolePermissionMap"  parameterType="com.org.system.model.manager.RolePermission">
		 SELECT
		 <include refid="columnList" />
		 FROM role_permission
		  
		 <include refid="wheresql" />
		 <include refid="limitsql" />
	</select>

</mapper>